*{
  font-family: monospace;
}
.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color:white;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

li{
    margin: 0 10px;
}

.shop-items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 10px;
}

.shop-item{
  display: inline-block;
  width: 200px;
  border:2px solid black;
  background-color: rgb(255, 255, 255);
  box-shadow: #ebeced 7px -2px 0px 3px;
  margin: 10px;
}
.shop-item-image, img{
  width: 100%;
  height: 200px;
  background-color: #fff;
}

.shop-item-buttons{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.shop-item-buttons button{
  border: 1px solid black;
  height: 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.shop-item-buttons button:hover{
  border: 1px solid black;
  height: 20px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  
  cursor: pointer;
}

.shop-item{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.shop-item:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px rgb(0, 0, 0);
}

.shop-item-buttons button:active{
  border: 1px solid black;
  height: 20px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  cursor: pointer;
 
}

.add-to-cart{
  margin: 0;
  transform:translateX(20%);
}

.cart{
  display: none;
  width: 300px;
  height: auto;
  background-color: #ffffff;
  border: 1px solid black;
  box-shadow: #282c34 3px 2px 0px, 3px 2px 1px 1px white;
  position: absolute;
}

.show{
  display: block;
}

.close-cart{
  float:right;
  border:none;
  background: white;
  color:red;
  font-size: 20px;
  cursor: pointer;
  margin-right:20px;
}

.cart-item-image{
  width: 50%;
  height:50%;
  background-color: #fff;
}
.cart-item{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.total{
  padding:10px;
}
.total-text{
  float:right;
}

.page-select-button {
  background: none;
  margin:2px;
  cursor:pointer;
}
.selected{
  background: #000000;
  color: #ffffff; 
}

.page-select{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.center{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.shop-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.cart-icon{
  cursor: pointer;
  background: none;
  color:white;
  /* border: 1px solid white; */
  padding: 5px;
  /* border-radius: 5px; */
  /* box-shadow: #ffffff 1px 1px 0px; */

}

.cart-icon:active{
  /* box-shadow: #282c34 1px 1px 0px; */
}

.text-link{
  text-decoration: none;
  color:white;
  font-size: large;
  margin:20px;
  /* border-radius: 5px; */
  /* box-shadow: #ffffff 1px 1px 0px; */
  /* border:1px solid white; */
}
.text-link:active{
  /* box-shadow: #282c34 1px 1px 0px; */
}


.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(.9);
  transform-origin: bottom right;
}

.heading{
  display: flex;
  justify-content: center;
  padding: 10px;
}
.content-home{
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
  width: 50%;
  margin: 0 auto;
  flex-direction: column;
}

.content-home{
  margin-top: 25px;
  width: 30%;
  margin: 0 auto;
}
.explore-button{
  display: inline-block;
  justify-content: center;
  padding: 10px;
  margin: 0 auto;
  width: 100px;
  height: 20%;
  font-family: monospace;
  cursor: pointer;
  transform: translateY(100%);
}
.slide-right{
  background-color: white;
  color: black;
  box-shadow: inset 0 0 0 0 #000000,#282c34 3px 2px 0px;
  /* box-shadow: #282c34 3px 2px 0px, 3px 2px 1px 1px white; */
  transition: all 0.3s ease-in-out;
}

.slide-right:hover{
  box-shadow: inset 400px 0 0 0 #000000,#282c34 3px 2px 0px;
  color:white;
  font-weight: 700;
}

.close-cart{
  color:red;
  border: 1px solid black;
}

.quantity{
  width: 50px;
  height: 20px;
  border: 1px solid black;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-align: center;
  box-shadow: #282c34 3px 2px 0px, 3px 2px 1px 1px white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}